body {
    color: #00171F;
    font-family: monospace;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #edf0f1;
}
  
header {
    font-size: 20px;
    text-align: center;
}
  
/* Main Container of Sub Containers */
#cubing-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* padding: 20px 10%; */
}
      
/* Sub Container for Each Case */
#algs { 
    height: 160px;
    width: 400px;
    margin: 10px;
    padding: 15px;

    border-radius: 20px;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 130px 270px;
    grid-template-rows: 30px 130px;
    grid-column-gap: 0;
    grid-row-gap: 0;  
}

img {
    grid-row: 2;
    grid-column: 1;
    border-radius: 20px;
}

div p {
    font-size: 18px;
    grid-row: 2;
    grid-column: 2;
    margin: 0px;
    justify-content: center;
}

#alg-case {
    grid-row: 1;
    grid-column: 1;

    padding-left: 10px;
    padding-bottom: 10px;
}

#alg-moves {
    padding-top: 30px;
    padding-left: 20px;
}

#bld-moves {
    padding-top: 50px;
    padding-left: 20px;
}
