body {
    color: #00171F;
    font-family: sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #edf0f1;
}
  
header {
    font-size: 20px;
    text-align: center;
}
  
img {
    border-radius: 20px;
}

div p {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 10px;
    margin-left: 30px;
}

div p:first-child {
    justify-content: left;
    
    padding: 10px;
    margin-left: 10px;
}

/* Main Container of Sub Containers */
#cubing-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
    padding: 20px 10%;
}
      
/* Sub Container for Each Case */
.algs {
    background-color: lightgray;
    border-radius: 20px;
    height: 150px;
    width: 400px;
    margin: 20px;
    padding: 15px;
}
