/* IMPORT VARIABLES */
@import "../Navbar/Navbar.scss";
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

/* Main Container */
.container {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
    font-family: 'Antonio', sans-serif;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $darkBlue;

    width: 100vw;
}


/* Section Containers */
.mini-container {
    display: flex; 
    flex-direction: column;

    width: 400px;
    margin: 1rem;
    
    border-radius: 50px;
    box-shadow: 0px 7px 22px -7px $nightShadowBlue;
    background: #8FC1E3;
}

.container-title {
    display: flex;
    justify-content: center;

    font-size: 1.9rem;
    padding: 1.2rem 0 0.3rem;
}

/* Sub Containers */
.mini-sub {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;

    padding: 0 1rem 1rem 1rem;
}

.alg {
    &-holder {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0.6rem;
        padding: 0.7rem 0.8rem 0 0.8rem;

        border-radius: 20px;
        box-shadow: 0px 7px 8px -7px $nightShadowBlue;
        background: lightblue;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px $nightShadowBlue;
        }
    }

    &-img {
        border-radius: 20px;
    }

    &-type {
        font-weight: 250;
        font-size: 1.25rem;

        padding: 0.3rem 0;
    }
}