
/* FONTS - Antonio, Barlow Condensed */
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,500&display=swap');

/* VARIABLES - COLORS */
$cloudWhite: #F3F3F3;
$darkGrey: #283747;
$darkBlue: #12232E;
$blueMinded: #004E7C;
$lighterBlue: #007CC7;
$superLightGrey: #CDCDCD;
$nightShadowBlue: #12343B;

$headerFont: "Barlow Condensed";