/* FONTS - Antonio, Barlow Condensed */
@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,500&display=swap");
/* VARIABLES - COLORS */
.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-family: 'Antonio', sans-serif;
  margin-bottom: 2rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 520px;
  height: 220px;
  padding: 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 7px 22px -7px #12232E;
          box-shadow: 0px 7px 22px -7px #12232E;
  background: #8FC1E3;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
}

.name {
  color: #12343b;
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.program {
  color: #12343b;
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.profile-pic {
  height: 170px;
  border-radius: 50%;
  border: 3px solid white;
}

.svgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.svgs p {
  display: none;
}

.svgs svg {
  height: 40px;
  width: 40px;
  margin: 0 0.2rem;
  padding: 0 0.5rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.svgs svg:hover {
  cursor: pointer;
  border-radius: 50%;
  background: lightseagreen;
}

.msg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
}

.msg-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 15% 1rem;
  font-style: normal;
}

.msg-welcome, .msg-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
}

.msg-welcome .hello, .msg-welcome .thanks, .msg-thanks .hello, .msg-thanks .thanks {
  font-style: italic;
  padding: 0.2rem 2.25rem 0 0;
}

.msg-welcome .thanks, .msg-thanks .thanks {
  text-decoration: underline wavy #007CC7;
  -webkit-text-decoration: underline wavy #007CC7;
  text-underline-offset: 0.5rem;
}

.msg-welcome .smile, .msg-welcome .wave, .msg-thanks .smile, .msg-thanks .wave {
  font-size: 2rem;
  display: inline-block;
}

.msg-welcome .wave, .msg-thanks .wave {
  -webkit-animation: waving 2s infinite;
          animation: waving 2s infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
}

.msg-experience, .msg-cta {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

.msg-thanks {
  padding-top: 1rem;
}

.donate {
  border: solid 2px;
  border-radius: 1rem;
  color: #283747;
  background-color: #F3F3F3;
  border-color: #007CC7;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Barlow Condensed', sans-serif;
  padding: 0.35rem 1.75rem 0.65rem 1.25rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.donate:hover {
  color: white;
  fill: white;
  border-color: #004E7C;
  background-color: #004E7C;
  cursor: pointer;
}

.donate-svg {
  padding-top: 0.15rem;
  margin-right: 0.2rem;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 650px) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 300px;
    height: 460px;
    padding: 1.2rem 0;
    padding-top: 2rem;
  }
  .contact-details {
    padding: 0 1rem;
    margin-top: 1.6rem;
  }
  .profile-pic {
    height: 200px;
  }
  .name {
    font-size: 1.8rem;
    margin: 0.8rem;
  }
  .svgs {
    margin-top: 1.6rem;
  }
  .msg-container {
    font-size: 1.6rem;
  }
  .msg-experience, .msg-cta {
    font-size: 1.4rem;
  }
  .hello {
    padding: 0.2rem 1.25rem 0 0;
  }
  .wave {
    font-size: 1.6rem;
  }
  .donate {
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem 0.6rem 1rem;
  }
  .donate-svg {
    padding-top: 0.4rem;
    margin-right: 0.1rem;
  }
}

/* WAVE ANIMATION */
@-webkit-keyframes waving {
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes waving {
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=Contact.css.map */