.contact-page {
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    align-items: center;
    
    width: 540px;
    height: 220px;

    padding: 2rem;

    border-radius: 20px;
    box-shadow: 0px 7px 22px -7px #12232E;

    background: #8FC1E3;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 2rem;
}

.name {
    color: #12343b;

    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;

    margin-bottom: 1rem;
}

.program {
    color: #12343b;

    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}

.profile-pic {
    height: 160px;

    border-radius: 50%;
    border: 3px solid white;
}

.svgs {
    display: flex;
    justify-content: center;

    margin-top: 1.2rem;

    svg {
        height: 40px;
        width: 40px;

        margin: 0 0.2rem;
        padding: 0 0.5rem;

        &:hover {
            cursor: pointer;
            border-radius: 50%;

            background: lightseagreen;
        }
    }
}
