/* IMPORT VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,500&display=swap");
/* VARIABLES - COLORS */
/* REMOVE BULLET AND UNDERLINE FROM LISTS */
@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER SET UP */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #283747;
  background-color: #F3F3F3;
  margin-bottom: 2rem;
  border-bottom: 1px solid #CDCDCD;
}

/* LOGO STYLES */
.logo {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #004E7C;
  margin-left: 2rem;
}

/* NAVBAR STYLES */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
  margin: 1rem 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.8rem;
}

.nav-items {
  margin: 0 1.2rem;
}

.nav-items a:hover {
  color: #004E7C;
}

.nav-items a, .nav-items button {
  font-weight: 300;
  font-size: 1.4rem;
  font-style: normal;
  font-family: 'Barlow Condensed', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-items button {
  border: solid 2px;
  border-radius: 1rem;
  color: #283747;
  border-color: #007CC7;
  padding: 8px 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-items button:hover, .nav-items button.current-tab {
  color: white;
  border-color: #004E7C;
  background-color: #004E7C;
}

/* Underlines Current Tab */
.current-tab {
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 1px;
  border-bottom: 3px solid #004E7C;
}

.arrow {
  display: none;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 600px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    padding: 0.8rem 0;
  }
  header a, header svg {
    position: relative;
    z-index: 2;
  }
  .nav {
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 0;
    -webkit-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding-bottom: 1rem;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 0 0 20px 20px;
    background-color: #F3F3F3;
  }
  .nav-list {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-items {
    padding: 0;
    margin: 1.2rem 0;
  }
  .nav.open {
    top: 3rem;
    -webkit-animation: slideIn 1.2s;
            animation: slideIn 1.2s;
  }
  .arrow {
    display: block;
    fill: #007CC7;
    border-radius: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    margin-right: 2rem;
  }
  .arrow.clicked {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(-22rem);
            transform: translateY(-22rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateY(-22rem);
            transform: translateY(-22rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* 
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
*/
/* Main Container of Sub Containers */
.cubing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: max-width;
  color: #12232E;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.cubing-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 60%;
  max-width: 80%;
  padding: 2rem 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 7px 37px -6px #12343b;
          box-shadow: 0px 7px 37px -6px #12343b;
  background: -webkit-gradient(linear, left top, right top, from(#0083b0), to(#00b4db));
  background: linear-gradient(to right, #0083b0, #00b4db);
}

.algs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  width: 360px;
  margin: 0.8rem;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 10px -5px #12343b;
          box-shadow: 5px 5px 10px -5px #12343b;
  background: #8FC1E3;
}

.alg-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 180px;
  position: relative;
  border-radius: 1rem;
  background: lightblue;
}

.alg-case span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 250;
  font-size: 1.25rem;
  font-family: 'Antonio', sans-serif;
  margin: 0.2rem 0;
  width: 100%;
}

.alg-case img {
  padding-top: 0.1rem;
  margin: 0.2rem 0;
  border-radius: 20px;
}

.alg-notation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  width: 200px;
  margin: 0 0.3rem;
  border-radius: 20px;
}

.alg-notation span {
  padding: 0.6rem 0.5rem;
  border-radius: 10px;
  background: #F3F3F3;
}

.alg-moves {
  margin-bottom: 0.6rem;
}

/* Star SVG for Saved Algorithms */
.saved {
  position: absolute;
  top: 2.95rem;
  right: 1.125rem;
  fill: orange;
  cursor: pointer;
}

/* Rotate Cube SVG */
.rotateCube {
  position: absolute;
  top: 2.95rem;
  left: 1.125rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  fill: #3786a0;
  cursor: pointer;
}

.spin {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* MOBILE VIEW */
@media only screen and (max-width: 600px) {
  .cubing-card {
    font-size: 1rem;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
  }
  .algs {
    height: 160px;
    width: 320px;
  }
  .alg-case {
    width: 130px;
    height: 160px;
  }
  .alg-case span {
    font-size: 1rem;
    margin: 0.1rem 0;
  }
  .alg-case img {
    width: 120px;
    height: 120px;
    margin: 0.1rem 0;
  }
  .alg-notation {
    width: 170px;
  }
  .alg-notation span {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }
  .alg-moves {
    margin-bottom: 0.5rem;
  }
  .saved {
    width: 17px;
    height: 17px;
    top: 2.35rem;
    right: 0.65rem;
  }
  .rotateCube {
    width: 19px;
    height: 19px;
    top: 2.35rem;
    left: 0.65rem;
  }
}

/* SMALL DEVICES */
@media only screen and (max-width: 360px) {
  .algs {
    height: 140px;
    width: 290px;
  }
  .alg-case {
    width: 122px;
    height: 140px;
  }
  .alg-case span {
    margin: 0.1rem 0;
  }
  .alg-case img {
    width: 105px;
    height: 105px;
    margin: 0.1rem 0;
  }
  .alg-notation {
    width: 140px;
  }
  .saved {
    width: 15px;
    height: 15px;
    top: 2.1rem;
    right: 0.9rem;
  }
  .rotateCube {
    width: 17px;
    height: 17px;
    top: 2.1rem;
    left: 0.9rem;
  }
}
/*# sourceMappingURL=Card.css.map */