/* IMPORT VARIABLES */
/* FONTS - Antonio, Barlow Condensed */
@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,500&display=swap");
/* VARIABLES - COLORS */
/* REMOVE BULLET AND UNDERLINE FROM LISTS */
a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER SET UP */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #283747;
  background-color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-bottom: 1px solid #CDCDCD;
}

/* LOGO STYLES */
.logo {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  color: #004E7C;
  margin-left: 2rem;
}

/* NAVBAR STYLES */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
  margin: 1rem 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.8rem;
}

.nav-items {
  margin: 0 1.2rem;
}

.nav-items a, .nav-items button {
  font-weight: 300;
  font-size: 1.4rem;
  font-style: normal;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-items a {
  position: relative;
  display: inline-block;
  /* Exclude Button from Effect */
}

.nav-items a:not(.btn) {
  /* Add Underline Effect on Hover */
}

.nav-items a:not(.btn):after {
  display: block;
  content: "";
  padding: 0.1rem;
  border-bottom: 3px solid #004E7C;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.nav-items a:not(.btn):hover {
  font-weight: 600;
  color: #004E7C;
}

.nav-items a:not(.btn):hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-items button {
  border: solid 2px;
  border-radius: 1rem;
  color: #283747;
  background-color: white;
  border-color: #007CC7;
  padding: 8px 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-items button:hover, .nav-items button.current-tab {
  color: white;
  border-color: #004E7C;
  background-color: #004E7C;
}

/* Underlines Current Tab */
.current-tab a {
  text-decoration: underline #004E7C;
  -webkit-text-decoration: underline #004E7C;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.arrow {
  display: none;
}

/* MONITORS & COMPUTERS */
@media only screen and (min-width: 1000px) {
  .nav-items {
    margin: 0 1.8rem;
  }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 650px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    padding: 0.8rem 0;
    border-bottom: 1px solid #CDCDCD;
  }
  header a, header svg {
    position: relative;
    z-index: 2;
  }
  .nav {
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 0;
    -webkit-transition: 1.2s ease-in-out;
    transition: 1.2s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding-bottom: 1rem;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 0 0 20px 20px;
    background-color: white;
  }
  .nav-list {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-items {
    padding: 0;
    margin: 1rem 0;
  }
  .nav-items a {
    padding: 0 3rem;
  }
  .nav.open {
    top: 3rem;
    -webkit-animation: slideIn 1.2s;
            animation: slideIn 1.2s;
  }
  /* ANIMATE OPEN AND CLOSE NAV */
  .arrow {
    display: block;
    fill: #007CC7;
    border-radius: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    margin-right: 2rem;
  }
  .arrow.clicked {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

/* SLIDE IN NAV BAR */
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(-22rem);
            transform: translateY(-22rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    -webkit-transform: translateY(-22rem);
            transform: translateY(-22rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=Navbar.css.map */