/* IMPORT VARIABLES */
@import "../../styles/global.scss";

/* REMOVE BULLET AND UNDERLINE FROM LISTS */
a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER SET UP */
header {
    display: flex;
    align-items: center;

    color: $darkGrey;
    background-color: white; //$cloudWhite;

    text-transform: uppercase;

    margin-bottom: 2rem;
    border-bottom: 1px solid $superLightGrey;
}

/* LOGO STYLES */
.logo {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    color: $blueMinded;

    margin-left: 2rem;
}

/* NAVBAR STYLES */
.nav {
    display: flex;
    justify-content: flex-end;

    width: 100vw;
    margin: 1rem 0;

    &-list {
        display: flex;
        align-items: center;

        margin-right: 0.8rem;
    }

    &-items {
        margin: 0 1.2rem;

        a, button {
            font-weight: 300;
            font-size: 1.4rem;
            font-style: normal;
            font-family: "Barlow Condensed", sans-serif;

            cursor: pointer;
            text-transform: uppercase;
        }

        a {
            position: relative;
            display: inline-block;

            /* Exclude Button from Effect */
            &:not(.btn) {
                
                /* Add Underline Effect on Hover */
                &:after {
                    display: block;
                    content: "";

                    padding: 0.1rem;
                    border-bottom: 3px solid $blueMinded;
                    
                    transform: scaleX(0);
                    transition: transform 0.3s ease-in-out;
                    transform-origin: 0% 50%;
                }

                &:hover {
                    font-weight: 600;
                    color: $blueMinded;

                    &:after { 
                        transform: scaleX(1);
                    }
                }
            }
        }

        button {
            border: solid 2px;
            border-radius: 1rem;
            
            color: $darkGrey;
            background-color: white;
            border-color: $lighterBlue;

            padding: 8px 20px;

            transition: 0.3s ease-in-out;

            &:hover,
            &.current-tab{
                color: white;
                border-color: $blueMinded;
                background-color: $blueMinded;
            }
        }
    }
}

/* Underlines Current Tab */
.current-tab a {
    text-decoration: underline $blueMinded;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.arrow {
    display: none;
}

/* MONITORS & COMPUTERS */
@media only screen and (min-width: 1000px) {
    .nav-items {
        margin: 0 1.8rem;
    }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 650px) {
    header {
        justify-content: space-between;

        border: none;
        padding: 0.8rem 0;

        border-bottom: 1px solid $superLightGrey;


        a, svg {
            position: relative;
            z-index: 2;
        }
    }

    .nav {
        position: absolute;
        z-index: 1;
        top: -100%;
        left: 0;    

        transition: 1.2s ease-in-out;
        
        flex-direction: column;
        align-items: center;

        width: 100vw;

        padding-bottom: 1rem;
        border-bottom: 1px solid $superLightGrey;
        border-radius: 0 0 20px 20px;
        background-color: white; //$cloudWhite; 

        &-list {
            margin: 0;
            flex-direction: column;
        }

        &-items {
            padding: 0;
            margin: 1rem 0;

            a {
                padding: 0 3rem;
            }
        }

        &.open {
            top: 3rem;
            animation: slideIn 1.2s;
        }
    }

    /* ANIMATE OPEN AND CLOSE NAV */
    .arrow { 
        display: block;

        fill: $lighterBlue;
        border-radius: 10px;

        transform: rotate(90deg);
        transition: 0.6s ease-in-out;

        margin-right: 2rem;

        &.clicked {
            transform: rotate(-90deg);
        }
    }
}

/* SLIDE IN NAV BAR */
@keyframes slideIn {
    from {
        transform: translateY(-22rem);
    }
    to {
        transform: translateY(0);
    }
}